# Netbeans cruft:
nbproject
manifest.mf

# Eclipse cruft:
.project
.classpath
.settings

# Build directories:
bin
build
dist

# ANT build file:
build.xml

# Subversion directories:
.svn

# Output files:
*.txt
